* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(235, 18%, 26%);
}



/* CARD */

.card {
    display: flex;
    background-color: #FFF;
    border-radius: 2em;
    justify-content: space-between;
    padding: 1.7em 1.7em 1.7em 5em;
    gap: 2.5em;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7em;
    color: hsl(234, 29%, 20%);
}

.card h1 {
    font-size: 3em;
    color: hsl(234, 29%, 20%);
}

.card-icons {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.card-icon {
    display: flex;
    align-items: center;
    gap: 1em;
}

.card-icon img {
    height: 1.4em;
}

.card-icon .thank-icon {
    height: 3.7em;
}


.card-img-mobile {
    display: none;
}



/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.label {
    font-size: 0.8em;
    font-weight: bold;
}

form input {
    width: 90%;
    margin-right: auto;
    padding: 1.2em;
    border-radius: 0.5em;
    border: 1px solid lightgray;
    cursor: pointer;
}

.input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: rgb(155, 155, 155);
}

form .submit {
    cursor: pointer;
    width: 90%;
    margin-right: auto;
    padding: 1.2em;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: #FFF;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
    transition: 0.2s;
}

form .submit:hover {
    background: linear-gradient(to right, #ff2f8d, #ff7f27);
    transition: 0.2s;
}

#email-error-message {
    position: absolute;
    padding-left: 280px;
    font-size: 0.8em;
    font-weight: bold;
    color: red;
}

#email-success-message {
    position: absolute;
    padding-left: 20px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: green;
}

.error {
    border-color: red;
}


/* THANKS PAGE */

.thank-p {
    line-height: 1.5em;
}

.dismiss-btn {
    cursor: pointer;
    width: 90%;
    margin-right: auto;
    padding: 1.2em;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: #FFF;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
}

.dismiss-btn:hover {
    background: linear-gradient(to right, #ff2f8d, #ff7f27);
}

.card-img-mobile-thank {
    display: none;
}

/* CLASSES GENERALES */

.container {
    max-width: 65em;
    margin: 15vh auto;
}

.container-sm {
    max-width: 27em;
    margin: 20vh auto;
}


/* MEDIA QUERIES */

@media(max-width:800px) {

    body {
        background-color: #FFF;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    .card {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 0;
        padding: 1.3em 1.3em 4em 1.3em;
    }

    .card-content {
        width: 100%;
    }

    .card-content h1 {
        font-size: 2.2em;
    }

    .card-img-desktop {
        display: none;
    }

    .card-img-mobile {
        display: block;
    }

    .card-img-mobile-thank {
        display: none;
    }



}